# **INTRODUCTION**
#### In this ambitious Capstone project, we explore the American auto market, analyzing pricing factors using data and advanced tools to uncover hidden insights for XYZ Motors' success.
### Libraries To Be Used:
- #### Pandas 
- #### Numpy

                             Task 1: Loading and Initial Data Exploration:

In [ ]:
## Importing the libraries
import pandas as pd 
import numpy as np 

# Loading the data
df_unclean = pd.read_csv(r"C:\Users\TANAY_MAHARANA\Documents\Python scripts\csv,text etc files for practice\car-prices_unclean - car-prices_unclean.csv.csv")
print(df_unclean["price"].median())
print("First Few Rows of the Dataset:\n",df_unclean.head())  ## printing the initial 5rows            
print()
print("Dimensions of the Dataset:\n",df_unclean.shape)  ## checking dataset dimensions                 
print()
print("Summary of the Dataset:")  
print(df_unclean.info()) ## checking the summary of the dataset          
print()
print("Missing Values in the Dataset:\n",df_unclean.isnull().sum())  ## checking for null values in the dataset
print()
print("Duplicate values in the dataset:\n",df_unclean.duplicated().sum())  ## checking for duplicate value sin the data
print()
print("Unique values in each column:\n",df_unclean.nunique())  ## checking for unique values in each column 
print()
print("Summary Statistics for Numerical Columns:\n",df_unclean.describe())  ## checking summary statistics for numerical columns

                             Task 02: Handling Missing values and Outliers:

In [2]:
df_clean = df_unclean.copy()  ## making a deep copy to work on

df_clean.drop(["car_ID", "Untitled"], axis = 1, inplace=True)  ## dropping unnecessary columns

symboling_mask = np.mean(df_clean["symboling"])  ## creating a mask value to fill null
df_clean["symboling"].fillna(symboling_mask, inplace=True)  ## filling nulls

price_mask = df_clean["price"].median()
df_clean["price"].fillna(price_mask, inplace=True)

fueltype_mask = df_clean["fueltype"].mode()[0]
df_clean["fueltype"].fillna(fueltype_mask, inplace=True)


# print(df_clean.isnull().sum())  ## confirming all non-null columns

## Identifying outliers in the price column 
Q1 = np.percentile(df_clean["price"], 25)
Q3 = np.percentile(df_clean["price"], 75)

IQR = Q3 - Q1  ## interquartile range

lower_whisker = Q1 - 1.5*(IQR)  ## lower bound

upper_whisker = Q3 + 1.5*(IQR)  ## upper bound

outliers = df_clean[(df_clean["price"] < lower_whisker) | (df_clean["price"] > upper_whisker)]  ## conditional formatting
price_outlier_count = outliers["price"].count()

print(f"Possible outliers in the price column are:\n{outliers}")

df_clean["price"] = np.log1p(df_clean["price"])  ## normalizing the extreme prizes

Possible outliers in the price column are:
     Unnamed: 0  symboling                   CarName fueltype aspiration  \
15           15   0.000000                    bmw x4      gas        std
16           16   0.000000                    bmw x5      gas        std
17           17   0.000000                    bmw x3      gas        std
47           47   0.000000                 jaguar xj      gas        std
48           48   0.000000                 jaguar xf      gas        std
67           67  -1.000000  buick electra 225 custom   diesel      turbo
68           68  -1.000000  buick century luxus (sw)   diesel      turbo
69           69   0.841463             buick century   diesel      turbo
70           70  -1.000000             buick skyhawk   diesel      turbo
71           71  -1.000000   buick opel isuzu deluxe      gas        std
72           72   3.000000             buick skylark      gas        std
73           73   0.841463     buick century special      gas        std
126         126   3.000000         porcshce panamera      gas        std
127         127   3.000000           porsche cayenne      gas        std
128         128   3.000000            porsche boxter      gas        std
129         129   1.000000           porsche cayenne      gas        std

    doornumber      carbody drivewheel enginelocation  wheelbase  ...  \
15        four        sedan        rwd          front      103.5  ...
16         two        sedan        rwd          front      103.5  ...
17        four        sedan        rwd          front      110.0  ...
47        four        sedan        rwd          front      113.0  ...
48        four        sedan        rwd          front      113.0  ...
67        four        sedan        rwd          front      110.0  ...
68        four        wagon        rwd          front      110.0  ...
69         two      hardtop        rwd          front      106.7  ...
70        four        sedan        rwd          front      115.6  ...
71        four        sedan        rwd          front      115.6  ...
72         two  convertible        rwd          front       96.6  ...
73        four        sedan        rwd          front      120.9  ...
126        two      hardtop        rwd           rear       89.5  ...
127        two      hardtop        rwd           rear       89.5  ...
128        two  convertible        rwd           rear       89.5  ...
129        two    hatchback        rwd          front       98.4  ...

     enginesize  fuelsystem  boreratio  stroke compressionratio horsepower  \
15          209        mpfi       3.62    3.39              8.0        182
16          209        mpfi       3.62    3.39              8.0        182
17          209        mpfi       3.62    3.39              8.0        182
47          258        mpfi       3.63    4.17              8.1        176
48          258        mpfi       3.63    4.17              8.1        176
67          183         idi       3.58    3.64             21.5        123
68          183         idi       3.58    3.64             21.5        123
69          183         idi       3.58    3.64             21.5        123
70          183         idi       3.58    3.64             21.5        123
71          234        mpfi       3.46    3.10              8.3        155
72          234        mpfi       3.46    3.10              8.3        155
73          308        mpfi       3.80    3.35              8.0        184
126         194        mpfi       3.74    2.90              9.5        207
127         194        mpfi       3.74    2.90              9.5        207
128         194        mpfi       3.74    2.90              9.5        207
129         203        mpfi       3.94    3.11             10.0        288

     peakrpm citympg  highwaympg    price
15      5400      16          22  30760.0
16      5400      16          22  41315.0
17      5400      15          20  36880.0
47      4750      15          19  32250.0
48      4750      15          19  35550.0
67      4350      22          25  25552.0
68      4350      22          25  28248.0
69      4350      22          25  28176.0
70      4350      22          25  31600.0
71      4750      16          18  34184.0
72      4750      16          18  35056.0
73      4500      14          16  40960.0
126     5900      17          25  32528.0
127     5900      17          25  34028.0
128     5900      17          25  37028.0
129     5750      17          28  31400.5

[16 rows x 26 columns]

                             Task 03: Data Cleaning and Preparation:

In [7]:
# print(df_clean.head(25))  ## checking the carname column 

car_companies = pd.Series([car.split(" ")[0] for car in df_clean['CarName']], index = df_clean.index)

# df_clean.drop(columns= ['CarName'], axis = 1, inplace = True)

df_clean["car_company"] = car_companies  ## adding new column 'car_company'

## fixing some typos
df_clean["car_company"].replace({"vokswagen":"volkswagen", "toyouta":"toyota", "maxda":"mazda", "vw":"volkswagen", "porcshce": "porsche"}, inplace=True)

## counting the number of cars by each company
df_clean_company_pivot = df_clean.pivot_table(values="CarName", index="car_company", aggfunc="count").sort_values("CarName", ascending=False)
print(df_clean_company_pivot)

             CarName
car_company
toyota            32
nissan            17
mazda             17
mitsubishi        13
honda             13
volkswagen        12
subaru            12
peugeot           11
volvo             11
dodge              9
buick              8
bmw                8
audi               7
plymouth           7
saab               6
porsche            5
isuzu              4
jaguar             3
alfa-romero        3
chevrolet          3
renault            2
Nissan             1
mercury            1

                             Task 04: Identifying Numerical Factors Impacting Car Prices

In [4]:
numerical_columns = df_clean.select_dtypes(np.number)   ## extracting numerical columns 
correlation = numerical_columns.corr()                  ## finding correlation between numerical columns 

price_correlations = correlation["price"]               ## picking the subset,co-relation of price with other numerical columns 

## these are the correlation of other numerical columns with 'price'
print(f"Correlation coefficients with 'price':\n{price_correlations}")

print()

## these are the factors that have (absolute value of correlation > 0.4) have significant impact on car prices
significant_factors = price_correlations[np.abs(price_correlations) > 0.4]

print(f"Factors with significant impact on car prices:\n{significant_factors}")

Correlation coefficients with 'price':
Unnamed: 0         -0.085602
symboling          -0.022127
wheelbase           0.553529
carlength           0.683837
carwidth            0.702964
carheight           0.158797
curbweight          0.785020
enginesize          0.708287
boreratio           0.515868
stroke              0.116368
compressionratio    0.079953
horsepower          0.718771
peakrpm            -0.081336
citympg            -0.681929
highwaympg         -0.675603
price               1.000000
Name: price, dtype: float64

Factors with significant impact on car prices:
wheelbase     0.553529
carlength     0.683837
carwidth      0.702964
curbweight    0.785020
enginesize    0.708287
boreratio     0.515868
horsepower    0.718771
citympg      -0.681929
highwaympg   -0.675603
price         1.000000
Name: price, dtype: float64

                             Task 05: Identifying Categorical Factors Impacting Car Prices

In [5]:
categorical_columns = df_clean.select_dtypes("object", "category")
unique_fueltypes = categorical_columns['fueltype'].unique()

for type in unique_fueltypes:
    print(type)
    subset = df_clean[df_clean["fueltype"] == type]
    price_description = subset["price"].describe()
    print(price_description)

gas
count    191.000000
mean       9.337526
std        0.441184
min        8.540714
25%        9.067428
50%        9.287209
75%        9.539529
max       10.629005
Name: price, dtype: float64
diesel
count    14.000000
mean      9.640715
std       0.541325
min       8.867850
25%       9.061825
50%       9.765265
75%      10.116378
max      10.360944
Name: price, dtype: float64

In [6]:
categorical_columns = df_clean.select_dtypes("object", "category")
# print(categorical_columns)

for column in categorical_columns.columns:
    unique_values = categorical_columns[column].unique()
    print(f"Impact of {column} on 'price':")

    for value in unique_values:
        subset = df_clean[df_clean[column] == value]
        price_description = subset["price"].describe()
        print(f"Category: {value}")
        print(price_description)
    print("\n")

Impact of CarName on 'price':
Category: alfa-romero giulia
count    1.000000
mean     9.510149
std           NaN
min      9.510149
25%      9.510149
50%      9.510149
75%      9.510149
max      9.510149
Name: price, dtype: float64
Category: alfa-romero stelvio
count    1.000000
mean     9.711176
std           NaN
min      9.711176
25%      9.711176
50%      9.711176
75%      9.711176
max      9.711176
Name: price, dtype: float64
Category: alfa-romero Quadrifoglio
count    1.000000
mean     9.711176
std           NaN
min      9.711176
25%      9.711176
50%      9.711176
75%      9.711176
max      9.711176
Name: price, dtype: float64
Category: audi 100 ls
count    1.000000
mean     9.543306
std           NaN
min      9.543306
25%      9.543306
50%      9.543306
75%      9.543306
max      9.543306
Name: price, dtype: float64
Category: audi 100ls
count    2.000000
mean     9.774547
std      0.010457
min      9.767152
25%      9.770849
50%      9.774547
75%      9.778244
max      9.781941
Name: price, dtype: float64
Category: audi fox
count    1.0000
mean     9.6324
std         NaN
min      9.6324
25%      9.6324
50%      9.6324
75%      9.6324
max      9.6324
Name: price, dtype: float64
Category: audi 5000
count    1.000000
mean     9.848028
std           NaN
min      9.848028
25%      9.848028
50%      9.848028
75%      9.848028
max      9.848028
Name: price, dtype: float64
Category: audi 4000
count     1.000000
mean     10.080629
std            NaN
min      10.080629
25%      10.080629
50%      10.080629
75%      10.080629
max      10.080629
Name: price, dtype: float64
Category: audi 5000s (diesel)
count    1.000000
mean     9.790328
std           NaN
min      9.790328
25%      9.790328
50%      9.790328
75%      9.790328
max      9.790328
Name: price, dtype: float64
Category: bmw 320i
count    2.000000
mean     9.721766
std      0.020988
min      9.706925
25%      9.714345
50%      9.721766
75%      9.729186
max      9.736606
Name: price, dtype: float64
Category: bmw x1
count    1.000000
mean     9.950896
std           NaN
min      9.950896
25%      9.950896
50%      9.950896
75%      9.950896
max      9.950896
Name: price, dtype: float64
Category: bmw x3
count     2.000000
mean     10.236382
std       0.394664
min       9.957313
25%      10.096847
50%      10.236382
75%      10.375917
max      10.515452
Name: price, dtype: float64
Category: bmw z4
count     1.000000
mean     10.109119
std            NaN
min      10.109119
25%      10.109119
50%      10.109119
75%      10.109119
max      10.109119
Name: price, dtype: float64
Category: bmw x4
count     1.000000
mean     10.334003
std            NaN
min      10.334003
25%      10.334003
50%      10.334003
75%      10.334003
max      10.334003
Name: price, dtype: float64
Category: bmw x5
count     1.000000
mean     10.629005
std            NaN
min      10.629005
25%      10.629005
50%      10.629005
75%      10.629005
max      10.629005
Name: price, dtype: float64
Category: chevrolet impala
count    1.00000
mean     8.54714
std          NaN
min      8.54714
25%      8.54714
50%      8.54714
75%      8.54714
max      8.54714
Name: price, dtype: float64
Category: chevrolet monte carlo
count    1.00000
mean     8.74767
std          NaN
min      8.74767
25%      8.74767
50%      8.74767
75%      8.74767
max      8.74767
Name: price, dtype: float64
Category: chevrolet vega 2300
count    1.000000
mean     8.791182
std           NaN
min      8.791182
25%      8.791182
50%      8.791182
75%      8.791182
max      8.791182
Name: price, dtype: float64
Category: dodge rampage
count    1.000000
mean     8.625689
std           NaN
min      8.625689
25%      8.625689
50%      8.625689
75%      8.625689
max      8.625689
Name: price, dtype: float64
Category: dodge challenger se
count    1.00000
mean     8.76061
std          NaN
min      8.76061
25%      8.76061
50%      8.76061
75%      8.76061
max      8.76061
Name: price, dtype: float64
Category: dodge d200
count    1.000000
mean     8.981933
std           NaN
min      8.981933
25%      8.981933
50%      8.981933
75%      8.981933
max      8.981933
Name: price, dtype: float64
Category: dodge monaco (sw)
count    1.000000
mean     8.737132
std           NaN
min      8.737132
25%      8.737132
50%      8.737132
75%      8.737132
max      8.737132
Name: price, dtype: float64
Category: dodge colt hardtop
count    1.000000
mean     8.808817
std           NaN
min      8.808817
25%      8.808817
50%      8.808817
75%      8.808817
max      8.808817
Name: price, dtype: float64
Category: dodge colt (sw)
count    1.000000
mean     8.937218
std           NaN
min      8.937218
25%      8.937218
50%      8.937218
75%      8.937218
max      8.937218
Name: price, dtype: float64
Category: dodge coronet custom
count    1.000000
mean     9.054739
std           NaN
min      9.054739
25%      9.054739
50%      9.054739
75%      9.054739
max      9.054739
Name: price, dtype: float64
Category: dodge dart custom
count    1.000000
mean     9.096275
std           NaN
min      9.096275
25%      9.096275
50%      9.096275
75%      9.096275
max      9.096275
Name: price, dtype: float64
Category: dodge coronet custom (sw)
count    1.000000
mean     9.470009
std           NaN
min      9.470009
25%      9.470009
50%      9.470009
75%      9.470009
max      9.470009
Name: price, dtype: float64
Category: honda civic
count    3.000000
mean     9.116635
std      0.461476
min      8.594154
25%      8.940682
50%      9.287209
75%      9.377875
max      9.468542
Name: price, dtype: float64
Category: honda civic cvcc
count    2.000000
mean     9.287209
std      0.000000
min      9.287209
25%      9.287209
50%      9.287209
75%      9.287209
max      9.287209
Name: price, dtype: float64
Category: honda accord cvcc
count    1.000000
mean     8.784162
std           NaN
min      8.784162
25%      8.784162
50%      8.784162
75%      8.784162
max      8.784162
Name: price, dtype: float64
Category: honda accord lx
count    1.000000
mean     8.895082
std           NaN
min      8.895082
25%      8.895082
50%      8.895082
75%      8.895082
max      8.895082
Name: price, dtype: float64
Category: honda civic 1500 gl
count    1.000000
mean     8.895082
std           NaN
min      8.895082
25%      8.895082
50%      8.895082
75%      8.895082
max      8.895082
Name: price, dtype: float64
Category: honda accord
count    2.000000
mean     9.263360
std      0.033728
min      9.239511
25%      9.251435
50%      9.263360
75%      9.275284
max      9.287209
Name: price, dtype: float64
Category: honda civic 1300
count    1.00000
mean     9.11559
std          NaN
min      9.11559
25%      9.11559
50%      9.11559
75%      9.11559
max      9.11559
Name: price, dtype: float64
Category: honda prelude
count    1.000000
mean     9.087721
std           NaN
min      9.087721
25%      9.087721
50%      9.087721
75%      9.087721
max      9.087721
Name: price, dtype: float64
Category: honda civic (auto)
count    1.000000
mean     9.244355
std           NaN
min      9.244355
25%      9.244355
50%      9.244355
75%      9.244355
max      9.244355
Name: price, dtype: float64
Category: isuzu MU-X
count    1.000000
mean     9.287209
std           NaN
min      9.287209
25%      9.287209
50%      9.287209
75%      9.287209
max      9.287209
Name: price, dtype: float64
Category: isuzu D-Max
count    2.000000
mean     9.191490
std      0.135367
min      9.095771
25%      9.143630
50%      9.191490
75%      9.239349
max      9.287209
Name: price, dtype: float64
Category: isuzu D-Max V-Cross
count    1.000000
mean     9.095771
std           NaN
min      9.095771
25%      9.095771
50%      9.095771
75%      9.095771
max      9.095771
Name: price, dtype: float64
Category: jaguar xj
count     1.000000
mean     10.381304
std            NaN
min      10.381304
25%      10.381304
50%      10.381304
75%      10.381304
max      10.381304
Name: price, dtype: float64
Category: jaguar xf
count     1.000000
mean     10.478724
std            NaN
min      10.478724
25%      10.478724
50%      10.478724
75%      10.478724
max      10.478724
Name: price, dtype: float64
Category: jaguar xk
count    1.000000
mean     9.287209
std           NaN
min      9.287209
25%      9.287209
50%      9.287209
75%      9.287209
max      9.287209
Name: price, dtype: float64
Category: maxda rx3
count    1.000000
mean     8.555644
std           NaN
min      8.555644
25%      8.555644
50%      8.555644
75%      8.555644
max      8.555644
Name: price, dtype: float64
Category: maxda glc deluxe
count    1.000000
mean     9.287209
std           NaN
min      9.287209
25%      9.287209
50%      9.287209
75%      9.287209
max      9.287209
Name: price, dtype: float64
Category: mazda rx2 coupe
count    1.000000
mean     9.287209
std           NaN
min      9.287209
25%      9.287209
50%      9.287209
75%      9.287209
max      9.287209
Name: price, dtype: float64
Category: mazda rx-4
count    2.000000
mean     9.260926
std      0.037170
min      9.234643
25%      9.247784
50%      9.260926
75%      9.274067
max      9.287209
Name: price, dtype: float64
Category: mazda glc deluxe
count    2.000000
mean     9.097952
std      0.267650
min      8.908695
25%      9.003323
50%      9.097952
75%      9.192580
max      9.287209
Name: price, dtype: float64
Category: mazda 626
count    3.000000
mean     9.234232
std      0.128493
min      9.087721
25%      9.187465
50%      9.287209
75%      9.307488
max      9.327768
Name: price, dtype: float64
Category: mazda glc
count    2.000000
mean     9.333477
std      0.065433
min      9.287209
25%      9.310343
50%      9.333477
75%      9.356611
max      9.379746
Name: price, dtype: float64
Category: mazda rx-7 gs
count    2.000000
mean     9.669157
std      0.209240
min      9.521202
25%      9.595179
50%      9.669157
75%      9.743135
max      9.817112
Name: price, dtype: float64
Category: mazda glc 4
count    1.000000
mean     9.657971
std           NaN
min      9.657971
25%      9.657971
50%      9.657971
75%      9.657971
max      9.657971
Name: price, dtype: float64
Category: mazda glc custom l
count    1.000000
mean     9.287209
std           NaN
min      9.287209
25%      9.287209
50%      9.287209
75%      9.287209
max      9.287209
Name: price, dtype: float64
Category: mazda glc custom
count    1.000000
mean     9.268232
std           NaN
min      9.268232
25%      9.268232
50%      9.268232
75%      9.268232
max      9.268232
Name: price, dtype: float64
Category: buick electra 225 custom
count     1.00000
mean     10.14851
std           NaN
min      10.14851
25%      10.14851
50%      10.14851
75%      10.14851
max      10.14851
Name: price, dtype: float64
Category: buick century luxus (sw)
count     1.000000
mean     10.248813
std            NaN
min      10.248813
25%      10.248813
50%      10.248813
75%      10.248813
max      10.248813
Name: price, dtype: float64
Category: buick century
count     1.000000
mean     10.246261
std            NaN
min      10.246261
25%      10.246261
50%      10.246261
75%      10.246261
max      10.246261
Name: price, dtype: float64
Category: buick skyhawk
count     1.000000
mean     10.360944
std            NaN
min      10.360944
25%      10.360944
50%      10.360944
75%      10.360944
max      10.360944
Name: price, dtype: float64
Category: buick opel isuzu deluxe
count     1.000000
mean     10.439542
std            NaN
min      10.439542
25%      10.439542
50%      10.439542
75%      10.439542
max      10.439542
Name: price, dtype: float64
Category: buick skylark
count     1.000000
mean     10.464731
std            NaN
min      10.464731
25%      10.464731
50%      10.464731
75%      10.464731
max      10.464731
Name: price, dtype: float64
Category: buick century special
count     1.000000
mean     10.620376
std            NaN
min      10.620376
25%      10.620376
50%      10.620376
75%      10.620376
max      10.620376
Name: price, dtype: float64
Category: buick regal sport coupe (turbo)
count    1.000000
mean     9.287209
std           NaN
min      9.287209
25%      9.287209
50%      9.287209
75%      9.287209
max      9.287209
Name: price, dtype: float64
Category: mercury cougar
count    1.000000
mean     9.711358
std           NaN
min      9.711358
25%      9.711358
50%      9.711358
75%      9.711358
max      9.711358
Name: price, dtype: float64
Category: mitsubishi mirage
count    1.000000
mean     8.592301
std           NaN
min      8.592301
25%      8.592301
50%      8.592301
75%      8.592301
max      8.592301
Name: price, dtype: float64
Category: mitsubishi lancer
count    1.00000
mean     8.73069
std          NaN
min      8.73069
25%      8.73069
50%      8.73069
75%      8.73069
max      8.73069
Name: price, dtype: float64
Category: mitsubishi outlander
count    3.000000
mean     9.128274
std      0.319291
min      8.805375
25%      8.970496
50%      9.135617
75%      9.289724
max      9.443830
Name: price, dtype: float64
Category: mitsubishi g4
count    3.000000
mean     9.200866
std      0.355355
min      8.947676
25%      8.997749
50%      9.047821
75%      9.327461
max      9.607101
Name: price, dtype: float64
Category: mitsubishi mirage g4
count    3.000000
mean     9.307721
std      0.239476
min      9.135617
25%      9.170975
50%      9.206332
75%      9.393773
max      9.581214
Name: price, dtype: float64
Category: mitsubishi montero
count    1.000000
mean     8.852236
std           NaN
min      8.852236
25%      8.852236
50%      8.852236
75%      8.852236
max      8.852236
Name: price, dtype: float64
Category: mitsubishi pajero
count    1.000000
mean     9.010669
std           NaN
min      9.010669
25%      9.010669
50%      9.010669
75%      9.010669
max      9.010669
Name: price, dtype: float64
Category: Nissan versa
count    1.000000
mean     8.612503
std           NaN
min      8.612503
25%      8.612503
50%      8.612503
75%      8.612503
max      8.612503
Name: price, dtype: float64
Category: nissan gt-r
count    1.00000
mean     8.86785
std          NaN
min      8.86785
25%      8.86785
50%      8.86785
75%      8.86785
max      8.86785
Name: price, dtype: float64
Category: nissan rogue
count    2.000000
mean     9.193309
std      0.132795
min      9.099409
25%      9.146359
50%      9.193309
75%      9.240259
max      9.287209
Name: price, dtype: float64
Category: nissan latio
count    2.000000
mean     8.877331
std      0.064102
min      8.832004
25%      8.854668
50%      8.877331
75%      8.899995
max      8.922658
Name: price, dtype: float64
Category: nissan titan
count    1.000000
mean     8.902456
std           NaN
min      8.902456
25%      8.902456
50%      8.902456
75%      8.902456
max      8.902456
Name: price, dtype: float64
Category: nissan leaf
count    1.00000
mean     8.89563
std          NaN
min      8.89563
25%      8.89563
50%      8.89563
75%      8.89563
max      8.89563
Name: price, dtype: float64
Category: nissan juke
count    1.000000
mean     9.287209
std           NaN
min      9.287209
25%      9.287209
50%      9.287209
75%      9.287209
max      9.287209
Name: price, dtype: float64
Category: nissan note
count    1.000000
mean     8.987197
std           NaN
min      8.987197
25%      8.987197
50%      8.987197
75%      8.987197
max      8.987197
Name: price, dtype: float64
Category: nissan clipper
count    2.000000
mean     9.287209
std      0.000000
min      9.287209
25%      9.287209
50%      9.287209
75%      9.287209
max      9.287209
Name: price, dtype: float64
Category: nissan nv200
count    1.000000
mean     9.287209
std           NaN
min      9.287209
25%      9.287209
50%      9.287209
75%      9.287209
max      9.287209
Name: price, dtype: float64
Category: nissan dayz
count    1.000000
mean     9.510445
std           NaN
min      9.510445
25%      9.510445
50%      9.510445
75%      9.510445
max      9.510445
Name: price, dtype: float64
Category: nissan fuga
count    1.000000
mean     9.574983
std           NaN
min      9.574983
25%      9.574983
50%      9.574983
75%      9.574983
max      9.574983
Name: price, dtype: float64
Category: nissan otti
count    1.000000
mean     9.510445
std           NaN
min      9.510445
25%      9.510445
50%      9.510445
75%      9.510445
max      9.510445
Name: price, dtype: float64
Category: nissan teana
count    1.000000
mean     9.287209
std           NaN
min      9.287209
25%      9.287209
50%      9.287209
75%      9.287209
max      9.287209
Name: price, dtype: float64
Category: nissan kicks
count    1.000000
mean     9.888374
std           NaN
min      9.888374
25%      9.888374
50%      9.888374
75%      9.888374
max      9.888374
Name: price, dtype: float64
Category: peugeot 504
count    6.000000
mean     9.619200
std      0.184375
min      9.287209
25%      9.566078
50%      9.686416
75%      9.721949
max      9.795401
Name: price, dtype: float64
Category: peugeot 304
count    1.000000
mean     9.488048
std           NaN
min      9.488048
25%      9.488048
50%      9.488048
75%      9.488048
max      9.488048
Name: price, dtype: float64
Category: peugeot 504 (sw)
count    1.000000
mean     9.428753
std           NaN
min      9.428753
25%      9.428753
50%      9.428753
75%      9.428753
max      9.428753
Name: price, dtype: float64
Category: peugeot 604sl
count    2.000000
mean     9.770805
std      0.050454
min      9.735128
25%      9.752966
50%      9.770805
75%      9.788643
max      9.806481
Name: price, dtype: float64
Category: peugeot 505s turbo diesel
count    1.000000
mean     9.287209
std           NaN
min      9.287209
25%      9.287209
50%      9.287209
75%      9.287209
max      9.287209
Name: price, dtype: float64
Category: plymouth fury iii
count    2.000000
mean     8.956449
std      0.467765
min      8.625689
25%      8.791069
50%      8.956449
75%      9.121829
max      9.287209
Name: price, dtype: float64
Category: plymouth cricket
count    1.000000
mean     8.981933
std           NaN
min      8.981933
25%      8.981933
50%      8.981933
75%      8.981933
max      8.981933
Name: price, dtype: float64
Category: plymouth satellite custom (sw)
count    1.000000
mean     9.287209
std           NaN
min      9.287209
25%      9.287209
50%      9.287209
75%      9.287209
max      9.287209
Name: price, dtype: float64
Category: plymouth fury gran sedan
count    1.000000
mean     8.937218
std           NaN
min      8.937218
25%      8.937218
50%      8.937218
75%      8.937218
max      8.937218
Name: price, dtype: float64
Category: plymouth valiant
count    1.000000
mean     9.096275
std           NaN
min      9.096275
25%      9.096275
50%      9.096275
75%      9.096275
max      9.096275
Name: price, dtype: float64
Category: plymouth duster
count    1.000000
mean     9.454462
std           NaN
min      9.454462
25%      9.454462
50%      9.454462
75%      9.454462
max      9.454462
Name: price, dtype: float64
Category: porsche macan
count    1.000000
mean     9.287209
std           NaN
min      9.287209
25%      9.287209
50%      9.287209
75%      9.287209
max      9.287209
Name: price, dtype: float64
Category: porcshce panamera
count     1.000000
mean     10.389887
std            NaN
min      10.389887
25%      10.389887
50%      10.389887
75%      10.389887
max      10.389887
Name: price, dtype: float64
Category: porsche cayenne
count     2.000000
mean     10.394790
std       0.056821
min      10.354611
25%      10.374700
50%      10.394790
75%      10.414879
max      10.434968
Name: price, dtype: float64
Category: porsche boxter
count     1.000000
mean     10.519457
std            NaN
min      10.519457
25%      10.519457
50%      10.519457
75%      10.519457
max      10.519457
Name: price, dtype: float64
Category: renault 12tl
count    1.000000
mean     9.137339
std           NaN
min      9.137339
25%      9.137339
50%      9.137339
75%      9.137339
max      9.137339
Name: price, dtype: float64
Category: renault 5 gtl
count    1.000000
mean     9.199886
std           NaN
min      9.199886
25%      9.199886
50%      9.199886
75%      9.199886